<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>AdminLTE 2 | Log in</title>
  <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
  <%= stylesheet_link_tag    'admin_application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'admin_application', 'data-turbolinks-track' => true %>
  <%= alertify_flash %>
  <%= csrf_meta_tags %>
</head>
<body class="login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>ICO</b>Development</a>
  </div><!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg"> Please Enter Your Registered Email ID</p>
    <%= form_with scope: :admin ,url: admin_session_index_path,method: :post ,id: "admin_login_page", local: true do |f| %>
      <div class="form-group has-feedback">
        <%= f.text_field :email, class: 'form-control',placeholder: 'Email', autofocus: true %>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>

      <div class="row">
        <div class="col-xs-4">
          <%= f.submit 'Send', class: 'btn btn-primary btn-block btn-flat' %>
        </div><!-- /.col -->
      </div>

    <% end %>
  </div>
  <!-- /.login-box-body -->
</div><!-- /.login-box -->
</body>
</html>
